@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<mesajlar>
@foreach (var x in Model)
{

   <div class="timeline timeline-inverse">

      <!-- timeline time label -->

      <div class="time-label">

         <span class="bg-warning">

            @x.Tarih.ToShortDateString()

         </span>

      </div>

      <!-- /.timeline-label -->
      <!-- timeline item -->

      <div>

         <img class="img-circle img-bordered-sm" src="~/AdminLTE-3.0.4/dist/img/mesaj.jpeg" style="width:30px;" alt="user image">

         <div class="timeline-item">

            <span class="time"><i class="far fa-clock"></i> @x.Tarih.ToString("HH:mm")</span>

            <h3 class="timeline-header"><a href="#">@x.Konu</a> </h3>

            <div class="timeline-body">

               @x.Icerik

            </div>
         </div>
      </div>
   </div>
}